body{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 167, 193);
  }
  .App{
  width: 400px;
  background-color: white;
  margin-top: 50px;
  }
  .crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
  }
  ul, li {
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  padding: 15px;
  margin: 0;
  }
  h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  }
  .contaner{
  display: flex;
  justify-content: center;
  }
  .btn-add{
  background: #65aa06;
  margin-top: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  }
  .btn-delete {
  background: #d60000;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  }
  img{
  border-radius: 25%;
  }
  input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  }